<section class="bg-blue-900 max-w-7xl w-full mx-auto p-6 rounded-box mt-4 text-white">
  <!-- Encabezado y botón -->
  <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4 gap-4">
    <h1 class="text-4xl font-bold">
      Cesar Ricardo Castellon Ramirez
    </h1>
    <a
      href="/assets/documents/CV-CRCR.pdf"
      target="_blank"
      rel="noopener"
      class="btn btn-outline btn-accent"
    >
      Descargar PDF
    </a>
  </div>

  <!-- Información de contacto -->
  <div class="flex flex-col md:flex-row items-center gap-4 text-sm">
    <a class="text-blue-300 underline hover:text-blue-200 cursor-pointer">
      ricardo18cr&#64;icloud.com
    </a>
    <div class="divider divider-horizontal md:block hidden"></div>
    <h3>+505 8466-2954</h3>
    <div class="divider divider-horizontal md:block hidden"></div>
    <h3>Managua, Nicaragua</h3>
  </div>
</section>
