<section class="bg-blue-900 justify-items-center max-w-7xl w-full m-auto p-4 rounded-box mt-2">
  <div class="mb-2">
    <h1 class="text-4xl font-bold">Cesar Ricardo Castellon Ramirez</h1>
  </div>

  <div class="flex flex-row">
    <a class="text-blue-400 underline cursor-pointer">
      ricardo18cr&#64;icloud.com
    </a>
    <div class="divider divider-horizontal"></div>
    <h3>+505 8466-2954</h3>
    <div class="divider divider-horizontal"></div>
    <h3>Managua, Nicaragua</h3>
  </div>
</section>
