<curriculum-header />

<!--Perfil Profesional-->
<curriculum-professional-profile [title]="etiquetas[0]"/>

<!--Formacion Academica-->
<curriculum-academic-training [title]="etiquetas[1]" [academicTraining]="academicTraining()" />

<!--Habilidades-->
<curriculum-skills [title]="etiquetas[2]" [technicalSkill]="technicalSkill()"/>

<!--Idioma-->
<curriculum-language  [title]="etiquetas[3]" [language]="language()"/>

<!--Experiencia Laboral-->
<curriculum-work-experience [title]="etiquetas[4]" [workExperience]="workExperience()" />
