<section class="mt-2">
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box max-w-7xl w-full m-auto border p-2"
  >
    <legend class="fieldset-legend text-blue-300 text-2xl">
      {{ title() | uppercase }}
    </legend>

    <ul class="list bg-base-100 rounded-box shadow-md">
      @for (item of academicTraining(); track item.id) {
      <li class="list-row">
        <div>
          <div class="font-bold">{{ item.year }}</div>
          <div class="text-base font-semibold opacity-60">
            {{ item.institution }}
          </div>
          <div class="italic">
            {{ item.title }}
          </div>
          <div>
            @if (item.instructor) {
              <span class="badge badge-primary badge-sm mt-2">
                Instructor: {{ item.instructor }}
              </span>
            }
          </div>
        </div>
      </li>
      }
    </ul>
  </fieldset>
</section>
