@if (successMessage){
  <div role="alert" class="alert alert-success">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{successMessage}}</span>
  </div>
}

@if (errorMessage){
  <div role="alert" class="alert alert-error">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{errorMessage}}</span>
  </div>
}

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 mx-auto max-w-sm md:max-w-xl lg:max-w-4xl">
    <legend class="fieldset-legend text-xl">Contactame</legend>

    <label class="label">Nombres</label>
    <input type="text" class="input w-full" placeholder="Nombres" formControlName="names" />
    @if (formUtils.isValidField( myForm, 'names' )) {
      <span class="text-error">
        {{ formUtils.getFieldError( myForm, 'names' ) }}
      </span>
    }
    <label class="label mt-3">Apellidos</label>
    <input type="text" class="input w-full" placeholder="Apellidos" formControlName="lastnames"/>
    @if (formUtils.isValidField( myForm, 'lastnames' )) {
      <span class="text-error">
        {{ formUtils.getFieldError( myForm, 'lastnames' ) }}
      </span>
    }
    <label class="label mt-3">Email</label>
    <input type="email" class="input w-full" placeholder="example@gmail.com" formControlName="email"/>
    @if (formUtils.isValidField( myForm, 'email' )) {
      <span class="text-error">
        {{ formUtils.getFieldError( myForm, 'email' ) }}
      </span>
    }
    <label class="label mt-3">Telefono</label>
    <input inputmode="numeric" class="input w-full" placeholder="22806789" formControlName="phonenumber" maxlength="8" pattern="\d*" (input)="onPhoneInput($event)" />
    @if (formUtils.isValidField( myForm, 'phonenumber' )) {
      <span class="text-error">
        {{ formUtils.getFieldError( myForm, 'phonenumber' ) }}
      </span>
    }
    <label class="label mt-3">Mensaje</label>
    <textarea class="textarea w-full" rows="5" placeholder="Escribe tu mensaje..." formControlName="message"></textarea>
    @if (formUtils.isValidField( myForm, 'message' )) {
      <span class="text-error">
        {{ formUtils.getFieldError( myForm, 'message' ) }}
      </span>
    }
    <div class="flex flex-col md:flex-row md:justify-center gap-4 mt-4">
      <button class="btn btn-primary w-full md:w-auto" type="submit">Enviar</button>
      <a class="btn btn-secondary w-full md:w-auto" routerLink="home">Cancelar</a>
    </div>
  </fieldset>
</form>
