.img-logo-c-sharp {
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
}

.img-logo-angular {
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
}

.img-logo-node{
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.img-logo-nestjs {
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 10px;
}


