<div class="hero bg-base-200 py-10 px-4 md:px-8 lg:px-16">
  <div class="hero-content flex-col lg:flex-row-reverse items-center lg:items-start">
    <img
      src="./assets/photos/img-me.JPG"
      class="w-55 h-52 md:w-70 md:h-66 lg:w-160 lg:h-80 object-cover rounded-full shadow-2xl mb-8 lg:mb-0 lg:ml-8"
    />
    <div>
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center lg:text-left">Soy César Ricardo Castellón Ramírez</h1>
      <p class="py-6 text-base md:text-lg text-center lg:text-left">
        Apasionado por el desarrollo de software, con un enfoque en tecnologías modernas y un firme compromiso con el aprendizaje continuo.
        Como desarrollador en formación, tengo experiencia en frontend y backend, trabajando con Angular, .NET, Node.js y NestJs
        para la creación de soluciones robustas y escalables.
      </p>
      <div class="flex flex-wrap justify-center lg:justify-start gap-2">
        <div class="badge badge-soft badge-primary badge-lg h-10">
          C#
          <img class="img-logo-c-sharp ml-1" src="assets/images/c-sharp.svg" alt="Logo C#">
        </div>
        <div class="badge badge-soft badge-primary badge-lg h-10">
          Angular
          <img class="img-logo-angular ml-1" src="assets/images/angular.svg" alt="Logo Angular">
        </div>
        <div class="badge badge-soft badge-primary badge-lg h-10">
          Node Js
          <img class="img-logo-node ml-1" src="assets/images/nodejs-logo.svg" alt="Logo Node.js">
        </div>
        <div class="badge badge-soft badge-primary badge-lg h-10">
          Nest Js
          <img class="img-logo-nestjs ml-1" src="assets/images/nestjs.svg" alt="Logo NestJS">
        </div>
      </div>
    </div>
  </div>
</div>
